body{
   
    background-color: white;
    margin: 0px;
    
}

.banner{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #00b9e1;
    border: 5px solid black;
    height: 150px;

    
}

.banner_text{

    color: white;
    font-family: "calibri";
    font-size: 125px;
    margin-top: 0px;
    margin-left: 348px;

}

.banner_buttons{

    margin-left: 285px;
    margin-top: 115px;

}

.button{

    width: 92.5px;
    height: 50px;

}

.home{

    margin-top: 20px;
    margin-left: 10px;

}

.picture{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.text{

    width: 1000px;
    font-size: 35px;

}